body
{
    background-color: bisque;
}
    
#score
{
    font-size: 29px;
    margin: 10px;
}
#timer
{
    font-size: 29px;
    margin: 10px;
    float: right;
}
#sketch
{
    color: black;
}